<body>
 
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Liste des credits : </h3>
        <button class="btn btn-primary" (click)="sortCredits()" style="float:right;">Tri</button>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped"style="font-size:small;" >
          <thead style="background-color: #1E1261;font-size:small; color: #ffffff;">
          <tr>
            <th>Identifiant</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Montant</th>
            <th>Nombre d'année</th>
            <th>Montant du remboursement</th>
            <th>Rentabilité</th>
            <th>Taux d'interet</th>
            <th>Etat</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody *ngFor="let c of listCredit | paginate: { itemsPerPage: 3, currentPage: p }" >
          <tr>
            <td>{{c.creditId}}</td>
            <td>{{c.startDate}}</td>
            <td>{{c.endtDate}}</td>
            <td>{{c.amount}}</td>
            <td>{{c.nb_years}}</td>
            <td>{{c.refundAmount}}</td>
            <td>{{c.rentability}}</td>
            <td>{{c.interestRate}}</td>
            <td>{{c.status}}</td>
            <td>{{c.type}}</td>
            <td><button style="background-color: #a7cdea;font-size:small; color: hwb(191 0% 95%);" (click)="goTo(c.creditId)" type="button" class="btn btn-primary">Modifier</button></td>
            <td><button style="background-color: #a7cdea;font-size:small; color: #0c0101;" (click)="deleteCredit(c.creditId)" type="button" class="btn btn-primary">Supprimer</button></td>
             
                                                              
          </tr>
          </tbody>

        </table>


        
        
      </div>
      <div class="pagination justify-content-center"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
      <!-- /.card-body -->
    </div>
</body>

    <!-- /.card -->
    









    
