<!DOCTYPE html>
<html>





  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <h1 class="text-center mb-5" style="color: #1E1261">Modifier un crédit</h1>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="startDate">Date de début</label>
                      <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="credit.startDate">
                    </div>
                    <div class="form-group">
                      <label for="endDate">Date de fin</label>
                      <input type="date" class="form-control" id="endDate" name="endtDate" [(ngModel)]="credit.endtDate">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="amount">Montant</label>
                      <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="credit.amount">
                    </div>
                    <div class="form-group">
                      <label for="type">Type</label>
                      <input type="text" class="form-control" id="type" name="type" [(ngModel)]="credit.type">
                    </div>


                  </div>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-sm btn-light rounded-pill py-2 px-4" style="color: #f6f6f8; background-color:#1E1261" routerLink="/menu/listcredit">Retour</button>
                    <button type="submit" class="btn btn-sm btn-light rounded-pill py-2 px-4" style="color: #f6f6f8; background-color:#1E1261" (click)="EditCredits()">Modifier</button>
                  </div>


                </div>
              </form>
            </div>

