
<body>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Liste des reclamations : </h3>
        <button class="btn btn-primary" (click)="sortReclamations()" style="float:right;"><mat-icon>sort</mat-icon></button>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped"style="font-size:small;" >
          <thead style="font-size:small; color: #1e1261;">
          <tr>
            
            <th>Identifiant</th>
            <th>Titre</th>
            <th>Categorie</th>
            <th>Etat du client</th>
            <th>Statut de la réclamation</th>
            <th>Date de création</th>
            <th>Détails</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody *ngFor="let r of listReclamation | paginate: { itemsPerPage: 3, currentPage: p }"(dblclick)="goTo(r.reclamationId)">
           
            <td>{{r.reclamationId}}</td>
            <td>{{r.title}}</td>
            <td>{{r.category}}</td>
            <td class="w-5"><mat-icon class="custom-icon-size">{{r.etat}}</mat-icon></td>
            <td>{{r.status}}</td>
            <td>{{r.creationDate}}</td>
            <td>{{r.details}}</td>
          <td><a class="btn btn-square btn-primary rounded-circle custom-btn"  (click)="updateReclamationStatus(r.reclamationId)" >
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="btn btn-square btn-primary rounded-circle custom-btn" (click)="deleteReclamation(r.reclamationId)">
            <i class="fas fa-trash"></i>
          </a>
        </td>
        
          </tbody>
        </table>
      
      </div>
      <div class="pagination justify-content-center"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </body>