<app-header></app-header>
<div class="container-xxl py-5">
  <div class="container" id="team-section">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h6 class="section-title bg-white text-center text-primary px-3">
        Vos contarts
      </h6>
      <h6 style="color: grey">Client (e) : Hermassi Lina</h6>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item text-center p-4">
          <img class="img-fluid rounded mb-4" src="assets/img/pdf.jpg" alt="" />
          <div class="team-text text-center">
            <div class="team-title">
              <h5>Identifiant de contrat : 1</h5>
              <span>Type : Agriculture_Insurance </span>
            </div>
            <div class="team-social">
              <a class="btn btn-square btn-primary rounded-circle" href="#">
                <i class="fas fa-eye"></i>
              </a>
              <a class="btn btn-square btn-primary rounded-circle" href="#">
                <i class="fas fa-credit-card"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item text-center p-4">
          <img class="img-fluid rounded mb-4" src="assets/img/pdf.jpg" alt="" />
          <div class="team-text text-center">
            <div class="team-title">
              <h5>Identifiant de contrat : 5</h5>
              <span>Type : Car_Insurance  </span>
            </div>
            <div class="team-social">
              <a class="btn btn-square btn-primary rounded-circle" href="assets/img/contrat5.pdf">
                <i class="fas fa-eye"></i>
              </a>
              <a
                class="btn btn-square btn-primary rounded-circle"
                href="payment"
              >
                <i class="fas fa-credit-card"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div
          class="text-center mx-auto mb-5 wow fadeInUp"
          data-wow-delay="0.1s"
          style="max-width: 600px"
        ><br><br><br>
          <h6 class="section-title bg-white text-center text-primary px-3">
            Suivre l'etat de votre score client
          </h6>
          <br>
          <br>
          <br>
          <br>
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="name"
                  placeholder="Prix avant score"
                  disabled value={{list[0]}}
                />
                <label for="name">Prix avant score </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="subject"
                  placeholder="Prix après score"
                  disabled value={{list[2]}}
                />
                <label for="subject">Prix après score</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="subject"
                  placeholder="Votre score"
                  disabled value={{list[1]}}
                />
                <label for="subject">Votre score</label>
              </div>
            </div>
            <div class="col-12 text-center">
              <button
                class="btn btn-primary rounded-pill py-3 px-5"
                type="submit"(click)="GetScore()"
              >
                Afficher le score
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
